# Node.js specific ignores
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Logs
*.log
logs/
logs/*.log

# OS-specific files
.DS_Store
Thumbs.db

# Build artifacts
dist/
out/

# IDE specific ignores
.vscode/
.idea/
